<!-- <div class="container-fluid">

        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" style="top:-100px" > Gits-search app</h1>
        <form action=""   class="search-form">
          <div  id="search"   class="form-group">
            <input type="text" class="form-control" placeholder="search-git users with username"[(ngModel)]="username" name="username" (keyup.enter)="findProfile()">
          </div>
        </form>
        
        
     
        <div *ngIf="profile">
         <div class="panel panel-default">
            <h3 class="list-group items"*ngIf="profile.bio" ><strong>name:{{profile.name}}</strong></h3>
                   
         </div>
           <div class="panel-body">
             <div class="row">
               <div class="col-sm-5">
                 <img src="{{profile.avatar_url}}"  alt="Profile Image">
               </div>
                  <div   style="text-align: center" style="top: 140px"  class="col-sm-4">
                     <ul   class="list-group">
                      
                        
                      <li class="list-group items"*ngIf="profile.bio" ><strong>Bio: {{profile.bio}}</strong></li>
                   
                      <li class="list-group items"*ngIf="profile.company" ><strong>Work place: {{profile.company}}</strong></li>
                      <li class="list-group items"*ngIf="profile.blog"><strong>Email: {{profile.blog}}</strong></li>
                      <li class="list-group items"*ngIf="profile.hireable"><strong> Hireable status:To be hired .</strong></li>
                      
                    </ul>
                    </div>
                  </div>
                  <br>
                    <div  class="col-sm-5">
                      <div>
                        <p >
                          <span   style="margin: 5px" style="top: 130px"  class="p-3 mb-2 bg-primary text-white ">{{profile.public_repos}} public_Repos</span>
                          
                             <span style="margin: 5px" class="p-3 mb-2 bg-secondary text-white" >{{profile.followers}} Followers</span>
                <span><a href="{{profile.html_url}}" class="p-3 mb-2 bg-success text-white">view account</a></span>
                            </p>
                      <div class="panel planel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">Repos</h3>
                        </div>
                        <div class="panel-body" *ngFor="let repo of repos">
                         <p class="clearfix">
                           {{repo.name}}<a href="{{repo.html_url}}" target="_blank" 
                           >   View on github </a>
                         </p>
                        </div>
                      </div>
                      </div>
                    </div>
            
                 </div>
             </div>
         </div> -->